@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Contact Me</h1>
    <br />
    <br />
    <div class="field-half">
        <h3>Name : Uvarani Pandian</h3>
        <br />
        <br />
        <h3>Email :pyuvarani.2011@gmail.com</h3>
        <br />
        <br />
        <h3>Contact No:+46 584685222</h3>
        <br />
        <br />
        <h3>Address:Askims Domarringsvag 250,Askims,Gothenburg</h3>
        <br />
        <br />
        <a href="a href="https://www.linkedin.com/in/uvarani-pandian-b4269565/" target="_blank" class="Icon">
        <i class="fab fa-linkedin"></i>LinkedIn</a>
    </div>
</div>

