@{
    ViewData["Title"] = "Home";
}
<div class="content-wrapper">
    <div class="photo">
        <img src="/image/intro.jpg" class="portfolio-photo" />
    </div>
    <div class="text-center content">
        <h2 class="display-4"><b>Welcome To My Portfolio</b></h2>
        <p><h4>Junior Full Stack .NET Web Developer.</h4></p>
        <br>
        <br />
        <h4>EDUCATIONAL BACKGROUND</h4>
        <p>I hold an M.Sc IT from the University of Madras</p>
        <p>Currently undergoing for a job training with Lexicon AB</p>
        <h4>TECHNICAL SKILLS</h4>
        <p>.NET, C#, Python, HTML, CSS, JS, React, Django for Python, MySQL, Entity Framework, Dapper, MVC</p>
    
    <h4>Resume</h4>
    <p>You Can View My Resume By Clicking The Link Below</p>
    <a href="~/image/Resume1.jpg" target="_blank" class="Icon">View Resume</a>
</div>
</div>

