@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4"><b>My Projects</b></h1>
    <br />
    <br />
    <p class="text-center"><h4>Here are some of the projects I've Wored on</h4></p>
    <br />
    <br />
    <p>You Can Find My Projects On <a href="https://github.com/myusername86"</a>My GitHub</p>
</div>
