html {
  font-size: 14px;
}
.logo img{
    width:100px;
    height:auto;
    
}
.content-wrapper
{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:20px;
    margin-right:100px;

}
.photo {
    width: 200px;
    height: auto;
    margin-right:200px;
}
.Icon {
    

    display: inline-block;
    margin-top: 10px;
    font-size: 1.5em;
    color: white; 
    text-decoration: none;
    transition: color 0.3s;
}

.linkedin-icon:hover {
    color:aqua; 
}


.portfolio-photo
{
    width:300px;
    border-radius:50%;
    border:2px solid;
}


.content{
    max-width:600px;

}
.text-center{
    text-align:center;
}

header {
    background-color: black;
    padding: 10px;
}

footer{
    align-content:center;
    background-color:black;
    color:white;
    font-size:20px;
    padding:10px;
    text-align:center;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:cadetblue;
}