html {
  font-size: 14px;
}
.logo img{
    width:100px;
    height:auto;
    
}
.content-wrapper
{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:20px;

}
.photo {
    width: 200px;
    height: auto;
    margin-right:100px;
}
.Icon {
    

    display: inline-block;
    margin-top: 10px;
    font-size: 1.5em;
    color: #0077B5; 
    text-decoration: none;
    transition: color 0.3s;
}

.linkedin-icon:hover {
    color: #005582; 
}


.portfolio-photo
{
    width:300px;
    border-radius:50%;
    border:2px solid;
}


.content{
    max-width:600px;

}
.text-center{
    text-align:center;
}

header {
    background-color: aquamarine;
    padding: 10px;
}

footer{
    align-content:center;
    background-color:aquamarine;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:;
}